@model Webb.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID"><div class="form-group">
    <input type="submit" value="Edit" class="btn btn-info" />
    </div></a> 
    <a asp-action="Index"><div class="form-group">
    <input type="" value="Back" class="btn btn-default" />
    </div></a>
</div>
